include ../../form-elements/button/button.pug

block variables
    - const items = ['О нас','Услуги', 'Вакансии', 'Новости', 'Соглашения'];

mixin header(className, isLogin)
    header(class=className + ' header')
        .container.header__container
            .header__logo
            nav.nav.header__nav
                ul.nav__menu
                    each val in items
                        if val === 'О нас'
                            li.nav__item
                                a.nav__link.active= val
                        else
                            li.nav__item
                                a.nav__link= val
            if isLogin
                .header__user-name Юлий Цезарь 
            else
                +button('btn_shallow header__btn', "#", 'войти')
                +button('btn_filled header__btn', "#", 'зарегистрироваться')