include ../../form-elements/button/button.pug

mixin header
    header.header
        .container.header__container
            .header__logo
            nav.nav.header__nav
                ul.nav__menu
                    each val in ['О нас','Услуги', 'Вакансии', 'Новости', 'Соглашения']
                        li.nav__item
                            a.nav__link= val
            +button('btn_shallow header__btn', "#", 'войти')
            +button('btn_filled header__btn', "#", 'зарегистрироваться')