extends ../layout/main.pug

block variables
    - const title = 'pug';
    -const pageClass = 'form-elements'

include ../ui/form-elements/text_field/text_field.pug
include ../ui/form-elements/dropdown/dropdown.pug
include ../ui/form-elements/date_dropdown/date_dropdown.pug

block content
    +text-field('text', 'text-field', 'text-field', 'text field', 'Email')
    +dropdown
    +date_dropdown