mixin text-field(type,id,name,text,placeholder)
    .text-field
        label(class='text-field__label' for=id)=text
        input(type=type class='text-field__input' name=name placeholder=placeholder)